ExportedTemplate-salesforce-monitor/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_salesforce_name": {
            "defaultValue": "salesforce",
            "type": "String"
        },
        "workflows_salesforce_monitor_name": {
            "defaultValue": "salesforce-monitor",
            "type": "String"
        },
        "connections_azureloganalyticsdatacollector_name": {
            "defaultValue": "azureloganalyticsdatacollector",
            "type": "String"
        },
        "workspaces_salesforce_workspace_name": {
            "defaultValue": "salesforce-workspace",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "microsoft.operationalinsights/workspaces",
            "apiVersion": "2020-08-01",
            "name": "[parameters('workspaces_salesforce_workspace_name')]",
            "location": "westeurope",
            "properties": {
                "provisioningState": "Succeeded",
                "sku": {
                    "name": "pergb2018"
                },
                "retentionInDays": 30,
                "workspaceCapping": {
                    "dailyQuotaGb": -1
                },
                "publicNetworkAccessForIngestion": "Enabled",
                "publicNetworkAccessForQuery": "Enabled"
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azureloganalyticsdatacollector_name')]",
            "location": "westeurope",
            "properties": {
                "displayName": "salesforce-workspace-connection",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/d6f970d8-9656-4a72-b6b8-fdf8d91e05bf/providers/Microsoft.Web/locations/westeurope/managedApis/', parameters('connections_azureloganalyticsdatacollector_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_salesforce_name')]",
            "location": "westeurope",
            "properties": {
                "displayName": "janis.berzins@visma.com",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/d6f970d8-9656-4a72-b6b8-fdf8d91e05bf/providers/Microsoft.Web/locations/westeurope/managedApis/', parameters('connections_salesforce_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "apiVersion": "2020-08-01",
            "name": "[concat(parameters('workspaces_salesforce_workspace_name'), '/LogManagement(', parameters('workspaces_salesforce_workspace_name'), ')_LogManagement|WindowsFireawallPolicySettingsChangedByMachines')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaces_salesforce_workspace_name'))]"
            ],
            "properties": {
                "DisplayName": "On which machines and how many times have Windows Firewall Policy settings changed",
                "Category": "Log Management",
                "Query": "Event | where EventLog == \"Microsoft-Windows-Windows Firewall With Advanced Security/Firewall\" and EventID == 2008 | summarize AggregatedValue = count() by Computer | limit 500000\r\n// Oql: Type=Event EventLog=\"Microsoft-Windows-Windows Firewall With Advanced Security/Firewall\" EventID=2008 | measure count() by Computer | top 500000 // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_salesforce_monitor_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_azureloganalyticsdatacollector_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_salesforce_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Get_records": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['salesforce']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('UserLicense'))}/items"
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                "Get_records": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "salesforceResults",
                                        "type": "array",
                                        "value": "@body('Get_records')?['value']"
                                    }
                                ]
                            }
                        },
                        "Send_Data": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@{variables('salesforceResults')}",
                                "headers": {
                                    "Log-Type": "salesforceLicense"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/api/logs"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureloganalyticsdatacollector": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureloganalyticsdatacollector_name'))]",
                                "connectionName": "azureloganalyticsdatacollector",
                                "id": "/subscriptions/d6f970d8-9656-4a72-b6b8-fdf8d91e05bf/providers/Microsoft.Web/locations/westeurope/managedApis/azureloganalyticsdatacollector"
                            },
                            "salesforce": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_salesforce_name'))]",
                                "connectionName": "salesforce",
                                "id": "/subscriptions/d6f970d8-9656-4a72-b6b8-fdf8d91e05bf/providers/Microsoft.Web/locations/westeurope/managedApis/salesforce"
                            }
                        }
                    }
                }
            }
        }
    ]
}