templates/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "environment": {
            "type": "string",
            "defaultValue": "dev",
            "metadata": {
                "description": "Deployment environment"
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for all resources."
            }
        },
        "appName": {
            "type": "string",
            "defaultValue": "[uniqueString(resourceGroup().id)]"
        }
    },
    "variables": {
        "logAnalyticsName": "[toLower(concat(parameters('environment'),'-la-',parameters('appName')))]",
        "workflowName": "[toLower(concat(parameters('environment'),'-wf-',parameters('appName')))]",
        "logAnalyticsConnectionName": "[toLower(concat(parameters('environment'),'-la-connection-',parameters('appName')))]",
        "salesforceConnectionName": "[toLower(concat(parameters('environment'),'-sf-connection-',parameters('appName')))]"
    },
    "resources": [
        {
            "type": "Microsoft.OperationalInsights/workspaces",
            "apiVersion": "2020-08-01",
            "name": "[variables('logAnalyticsName')]",
            "location": "[parameters('location')]",
            "tags": {
                "displayName": "Log Analytics",
                "ProjectName": "[parameters('appName')]"
            },
            "properties": {
                "sku": {
                    "name": "pergb2018"
                },
                "retentionInDays": 30,
                "workspaceCapping": {
                    "dailyQuotaGb": -1
                },
                "features": {
                    "searchVersion": 1,
                    "legacy": 0
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[variables('workflowName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('salesforceConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('logAnalyticsConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Hour",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_Each_User_Licenses": {
                            "actions": {
                                "Compose_License_Information": {
                                    "inputs": {
                                        "CompanyId": " @{variables('companyId')}",
                                        "CompanyName": "@{variables('companyName')}",
                                        "CreatedDate": "@{items('For_Each_User_Licenses')['ItemInternalId']}",
                                        "Id": "@{items('For_Each_User_Licenses')['Id']}",
                                        "ItemInternalId": "@{items('For_Each_User_Licenses')['ItemInternalId']}",
                                        "LastModifiedDate": "@{items('For_Each_User_Licenses')['LastModifiedDate']}",
                                        "LicenseDefinitionKey": "@{items('For_Each_User_Licenses')['LicenseDefinitionKey']}",
                                        "MasterLabel": "@{items('For_Each_User_Licenses')['MasterLabel']}",
                                        "Name": "@{items('For_Each_User_Licenses')['Name']}",
                                        "Status": "@{items('For_Each_User_Licenses')['Status']}",
                                        "SystemModstamp": "@{items('For_Each_User_Licenses')['SystemModstamp']}",
                                        "TimeGenerated": "@{items('For_Each_User_Licenses')['UsedLicensesLastUpdated']}",
                                        "TotalLicenses": "@{items('For_Each_User_Licenses')['TotalLicenses']}",
                                        "UsedLicenses": "@{items('For_Each_User_Licenses')['UsedLicenses']}",
                                        "UsedLicensesLastUpdated": "@{items('For_Each_User_Licenses')['UsedLicensesLastUpdated']}"
                                    },
                                    "runAfter": {},
                                    "type": "Compose"
                                },
                                "Send_Data": {
                                    "inputs": {
                                        "body": "@{outputs('Compose_License_Information')}",
                                        "headers": {
                                            "Log-Type": "SalesforceLicense"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/api/logs"
                                    },
                                    "runAfter": {
                                        "Compose_License_Information": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection"
                                }
                            },
                            "foreach": "@body('Get_Records')?['value']",
                            "runAfter": {
                                "Get_Records": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_Organiztions": {
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['salesforce']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('Organization'))}/items"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        },
                        "Get_Records": {
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['salesforce']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('UserLicense'))}/items"
                            },
                            "runAfter": {
                                "Initialize_Company_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Initialize_Company_ID": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "companyId",
                                        "type": "string",
                                        "value": "@{body('Get_Organiztions')['value'][0]['Id']}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_Company_Name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_Company_Name": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "companyName",
                                        "type": "string",
                                        "value": "@{body('Get_Organiztions')['value'][0]['Name']}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Get_Organiztions": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureloganalyticsdatacollector": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('logAnalyticsConnectionName'))]",
                                "connectionName": "[variables('logAnalyticsConnectionName')]",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureloganalyticsdatacollector')]"
                            },
                            "salesforce": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('salesforceConnectionName'))]",
                                "connectionName": "[variables('salesforceConnectionName')]",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/salesforce')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('logAnalyticsConnectionName')]",
            "location": "westeurope",
            "properties": {
                "displayName": "salesforce-workspace-connection",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureloganalyticsdatacollector')]"
                },
                "parameterValues": {
                    "username": "[reference(resourceId('Microsoft.OperationalInsights/workspaces', variables('logAnalyticsName')), providers('Microsoft.OperationalInsights', 'workspaces').apiVersions[0]).customerId]",
                    "password": "[listKeys(resourceId('Microsoft.OperationalInsights/workspaces', variables('logAnalyticsName')), providers('Microsoft.OperationalInsights', 'workspaces').apiVersions[0]).primarySharedKey]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('salesforceConnectionName')]",
            "location": "westeurope",
            "properties": {
                "displayName": "janis.berzins@visma.com",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/salesforce')]"
                }
            }
        }
    ]
}
